<!--
    nitro catalog 
    <div *ngIf="visible" [bringToTop] [draggable] class="nitro-catalog card">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ ('catalog.title') | translate }}</h6>
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div *ngIf="catalogRoot && (catalogRoot.children.length > 0)" class="row px-3 pt-3">
        <div class="col-12 d-flex">
            <div class="btn-group w-100">
                <ng-container *ngFor="let child of catalogRoot.children">
                    <button type="button" class="btn btn-secondary btn-sm" [ngClass]="{ 'active': (activeTab === child) }" (click)="selectTab(child)">{{ child.localization }}</button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div *ngIf="activeTab && (activeTab.children.length > 0)" nitro-catalog-navigation-component class="col-4"></div>
        <div class="col">
            <ng-template #layoutsContainer></ng-template>
        </div>
    </div>
</div>
<nitro-catalog-confirm-purchase-component *ngIf="(purchaseOffer !== null || giftOffer !== null) && !showGiftConfigurator" [giftOffer]="giftOffer" [page]="purchaseOfferPage" [offer]="purchaseOffer" [quantity]="purchaseOfferQuantity" [extra]="purchaseOfferExtra" [completed]="purchaseCompleted"></nitro-catalog-confirm-purchase-component>
<nitro-catalog-confirm-vip-subscription-component *ngIf="purchaseVipSubscription !== null" [subscription]="purchaseVipSubscription"></nitro-catalog-confirm-vip-subscription-component>
<nitro-catalog-confirm-purchase-insufficient-funds *ngIf="showInsufficientFunds"></nitro-catalog-confirm-purchase-insufficient-funds>
<nitro-catalog-customize-gift-component *ngIf="giftOffer !== null && showGiftConfigurator"></nitro-catalog-customize-gift-component>-->










<div *ngIf="visible" [bringToTop] [draggable] class="nitro-catalog">

<div class="header drag-handler">
    <p class="title">Shop</p>
    <div class="close-button" (click)="hide()"></div>
</div>

<div class="body">
    
    <div *ngIf="catalogRoot && (catalogRoot.children.length > 0)" class="menu">
        <ng-container *ngFor="let child of catalogRoot.children">
            <div class="menu-button" [ngClass]="{ 'menu-button-active': (activeTab === child) }"  (click)="selectTab(child)">{{ child.localization }}</div>
        </ng-container>
    </div>

    <div class="info">
        <div class="image" [ngStyle]="{ 'background-image': 'url(' + headerImageUrl + ')' }"></div>
        <div class="icon" [ngStyle]="{ 'background-image': 'url(' + iconUrl + ')' }"></div>
        <p class="caption">{{ activePageData?.localization }}</p>
        <p class="text">{{ activePage?.localization?.texts[0] }}</p>
    </div>

    <div class="lowerbody">
        <div class="leftside" *ngIf="activeTab && (activeTab.children.length > 0)">
            <div class="search-bgbox"><input placeholder="{{ ('catalog.search') | translate }}" class="search"></div>
            <div nitro-catalog-navigation-component></div>
        </div>
        <div class="rightside">
            <ng-template #layoutsContainer></ng-template>
        </div>
    </div>

</div>
</div>
<nitro-catalog-confirm-purchase-component *ngIf="(purchaseOffer !== null || giftOffer !== null) && !showGiftConfigurator" [giftOffer]="giftOffer" [page]="purchaseOfferPage" [offer]="purchaseOffer" [quantity]="purchaseOfferQuantity" [extra]="purchaseOfferExtra" [completed]="purchaseCompleted"></nitro-catalog-confirm-purchase-component>
<nitro-catalog-confirm-vip-subscription-component *ngIf="purchaseVipSubscription !== null" [subscription]="purchaseVipSubscription"></nitro-catalog-confirm-vip-subscription-component>
<nitro-catalog-confirm-purchase-insufficient-funds *ngIf="showInsufficientFunds"></nitro-catalog-confirm-purchase-insufficient-funds>
<nitro-catalog-customize-gift-component *ngIf="giftOffer !== null && showGiftConfigurator"></nitro-catalog-customize-gift-component>
