
    <div class="nav-item">
        <li class="new-nav new-nav-listitem" [ngClass]="{ 'new-nav-active': isActive }" (click)="selectPage()">
            <div class="new-nav-pagebox">
                <div class="new-nav-icon">
                    <img class="icon" [src]="iconUrl" />
                </div>
                <p class="new-nav-pagename">{{ catalogPage.localization }}</p>
                <i *ngIf="catalogPage.children && catalogPage.children.length"  [ngClass]="{ 'new-nav-notToggled': !isToggled, 'new-nav-Toggled': isToggled }"></i>

            </div>

        </li>
        <nitro-catalog-navigation-set-component *ngIf="isToggled && catalogPage.children && (catalogPage.children.length > 0)" [catalogPage]="catalogPage"></nitro-catalog-navigation-set-component>
    </div>
    